.radio {
  display: flex;
  border-radius: 10000px;
  background-color: var(--color-bg);
  aspect-ratio: 21/9;
  &.radio-small {
    height: 16px;
  }
  &.radio-medium {
    height: 24px;
  }
  &.radio-large {
    height: 32px;
  }
  .radio__placeholder {
    // flex: ;
    flex: 0 0 auto;
    transition: flex 0.2s ease;
    &.radio__placeholder-expanded {
      flex: 1 0 auto;
    }
  }
  .radio__toggle {
    flex: 0 0 auto;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-accent);
  }
}
