.tab-switch {
  $global-padding: 2px;
  $radius: 4px;
  // width: auto;
  padding: $global-padding;
  display: flex;
  gap: $global-padding;
  // outline: 1px solid var(--color-outline);
  background-color: var(--color-bg);
  color: var(--color-primary);
  border-radius: $radius;
  align-items: center;

  &.tab-switch-horizontal {
    flex-direction: row;
  }

  &.tab-switch-vertical {
    flex-direction: column;
  }

  .tab-swtich__option {
    background-color: var(--color-bg-secondary);
    border-radius: $radius;
    padding: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;

    &.tab-swtich__option-selected {
      background-color: var(--color-hover);
    }
  }
}
