$color-outline: rgb(107, 102, 102);
$color-text: rgb(255, 255, 255);

$color-selected: rgb(93, 85, 85);
$color-background: rgb(69, 63, 63);
$radius: 4px;
$global-padding: 2px;
* {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.tab-switch {
  // width: auto;
  padding: $global-padding;
  display: flex;
  gap: $global-padding;
  // outline: 1px solid $color-outline;
  background-color: rgb(46, 44, 44);
  color: $color-text;
  border-radius: $radius;
  align-items: center;

  .tab-swtich__separator-horizontal {
    width: 1px;
    height: 100%;
    flex: 0 0 auto;
    background-color: $color-outline;
  }

  .tab-swtich__separator-vertical {
    width: 100%;
    height: 1px;
    flex: 0 0 auto;
    background-color: $color-outline;
  }
  &.tab-switch-horizontal {
    flex-direction: row;
  }

  &.tab-switch-vertical {
    flex-direction: column;
  }
  .tab-swtich__option {
    background-color: $color-background;
    border-radius: $radius;
    padding: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;

    &.tab-swtich__option-selected {
      background-color: $color-selected;
    }
  }
}
