[data-theme="dark"] {
  --color-primary: #ffffff;
  --color-secondary: rgb(154, 160, 166);
  --color-disabled: rgb(196, 198, 201);
  --color-bg: rgb(51, 46, 46);
  --color-accent: rgb(2, 156, 253);
}

[data-theme="light"] {
  --color-primary: #000000;
  --color-secondary: rgb(101, 106, 110);
  --color-disabled: rgb(125, 129, 136);
  --color-bg: rgb(236, 226, 226);
  --color-accent: rgb(2, 111, 253);
}
