:root {
  font-family: Helvetica, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 500;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaced {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.focus-outline {
  border-color: var(--color-accent);
}

.focus-none {
  border: none;
  outline: none;
}
