.hideable {
  width: 300px;
  display: flex;
  gap: 8px;
  align-items: center;

  .hideable__input-wrapper {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
    flex-direction: column;
    border-radius: 4px;

    .hideable__input {
      width: 100%;
      color: var(--color-primary);
      padding: 8px;
      &::placeholder {
        color: var(--color-disabled);
      }
      &:read-only {
        color: var(--color-disabled);
      }
      &:focus {
        outline: none;
      }
    }

    .hideable__underline {
      position: absolute;
      bottom: 0;
      background-color: var(--color-accent);
      // border-radius: 0 0 2px 2px;
      height: 2px;
      opacity: 0;
      width: 0;
      display: flex;
      transition: opacity 120ms ease-in, width 180ms ease-out;
      &.hideable__underline-visible {
        width: 100%;
        opacity: 1;
      }
    }
  }

  // .hideable__visibility-switch {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}
